@page "/demoappuser"
@inject Services.UserService dataService
@*@inject Services.EventService eventService*@

<select @bind="selectedUserId" class="form-select" style="width: 250px;">
    <option value="">Select a user</option>
    @foreach (var user in users)
    {
        <option value="@user.Id">@user.Name</option>
    }
</select>
<br />
<br />
<AppUserComponent UserId="@selectedUserId" />

@code
{
    [CascadingParameter]
    public CascadingAppStateProvider state { get; set; }
    public int selectedUserId { get; set; }
    public IList<User> users;

    protected async override Task OnInitializedAsync()
    {
        //await eventService.TryGet(e => e.Id > 0, "Id", true, "Cause,Class,Effect,Exclude", (IEnumerable<Event> e, string s) => { }, (Exception e, string s) => { }, state);
        await dataService.TryGet(u => u.Id > 0, "Name", true, "", (IEnumerable<User>u, string s) => { users = u.ToList<User>(); }, (Exception e, string s) => { }, state);
    }
}