<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Causality</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="democausality">
                <span class="oi oi-bolt" aria-hidden="true"></span> Causality
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="demoappuser">
                <span class="oi oi-dashboard" aria-hidden="true"></span> App User
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formstate">
                <span class="oi oi-account-login" aria-hidden="true"></span> Form with state
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                <span class="oi oi-calendar" aria-hidden="true"></span> Booking
            </NavLink>
        </li>
        @if (expandSubNav)
        {
            <li class="nav-item px-3" style="margin-left: 10px;">
                <NavLink class="nav-link" href="bookingnewcustomers">
                    <span class="oi oi-person" aria-hidden="true"></span> New Customers
                </NavLink>
            </li>
            <li class="nav-item px-3" style="margin-left: 10px;">
                <NavLink class="nav-link" href="bookingcustomers">
                    <span class="oi oi-people" aria-hidden="true"></span> Customers
                </NavLink>
            </li>
            <li class="nav-item px-3" style="margin-left: 10px;">
                <NavLink class="nav-link" href="bookingmooringtypes">
                    <span class="oi oi-ellipses" aria-hidden="true"></span> Types (Mooring, etc)
                </NavLink>
            </li>
            <li class="nav-item px-3" style="margin-left: 10px;">
                <NavLink class="nav-link" href="bookingmoorings">
                    <span class="oi oi-vertical-align-center" aria-hidden="true"></span> Moorings, Berths, etc
                </NavLink>
            </li>
            <li class="nav-item px-3" style="margin-left: 10px;">
                <NavLink class="nav-link" href="bookingqueues">
                    <span class="oi oi-list" aria-hidden="true"></span> Queues
                </NavLink>
            </li>
            <li class="nav-item px-3" style="margin-left: 10px;">
                <NavLink class="nav-link" href="bookings">
                    <span class="oi oi-lock-locked" aria-hidden="true"></span> Bookings
                </NavLink>
            </li>
            <li class="nav-item px-3" style="margin-left: 10px;">
                <NavLink class="nav-link" href="bookingmessages">
                    <span class="oi oi-envelope-closed" aria-hidden="true"></span> Messages
                </NavLink>
            </li>
            <li class="nav-item px-3" style="margin-left: 10px;">
                <NavLink class="nav-link" href="bookingother">
                    <span class="oi oi-star" aria-hidden="true"></span> Other
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool expandSubNav;
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
