@page "/customer/{Id:int}"

<h3>Component1</h3>

<br />

<TelerikTabStrip TabPosition="TabPosition.Top" @ref="myTabStrip">
    <TabStripTab Title="Personal information">
        1
    </TabStripTab>
    <TabStripTab Title="Boat information">
        2
    </TabStripTab>
    <TabStripTab Title="Berth information">
        3
    </TabStripTab>
    <TabStripTab Title="Queue information">
        4
    </TabStripTab>
</TelerikTabStrip>

@code {
    TelerikTabStrip myTabStrip;

    [Parameter]
    public int Id { get; set; }
}
